.navu{
    background-color: #5daac8;	      
    background-size:cover;
    height:90px;
    box-shadow: 0.5px 5px 5px #C0C0C0;
	
}

.colo{
    padding-top:35px;
    color:#fff;
    text-align:center;
    font-size: 34px;
}
